<ion-view title="我的" id="mine">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                <a class="button" ui-sref="logoin">未登录</a>
            </div>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-android-clipboard"></i>收藏夹
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-android-chat"></i>话题
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-android-hangout"></i>评论
                <i class="icon ion-chevron-right button-small"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-android-list"></i>我的文章
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-musical-notes"></i>我的音乐
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-film"></i>我的电影
                <i class="icon ion-chevron-right button-small"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-happy"></i>福利社
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-tshirt"></i>个性装扮
                <i class="icon ion-chevron-right button-small"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-gear"></i>设置
                <i class="icon ion-chevron-right button-small"></i>
            </a>
        </div>

    </ion-content>
</ion-view>